<div class='header'>
  <div class='left-header'>
    <div class='header-top'>
      <%= link_to "TOP", root_path %>
    </div>
    <div class='header-new'>
      <%= link_to "新規投稿", new_tweet_path %>
    </div>
  </div>

  <div class='right-header'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-name" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <% end %>
    </ul>
  </div>

</div>