<div class='tweet-new'>

  <%= render 'header'%>

  <%= form_with model: @tweet, url: tweets_path, local: true do |f| %>
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_area :title, placeholder:"タイトル" %><br />

    <%= f.label :eat_time, "食事した時間" %><br />
    <%= f.text_area :eat_time, placeholder:"食事した時間"%><br />
    
    <%= f.label :time_taken, "料理時間" %><br />
    <%= f.text_area :time_taken, placeholder:"料理時間" %><br />
    
    <%= f.label :recipe, "レシピ" %><br />
    <%= f.text_area :recipe, placeholder:"レシピ" %><br />
    
    <%= f.label :supplement, "その他" %><br />
    <%= f.text_area :supplement, placeholder:"何か記入したいことがあれば" %><br />
   
    <%= f.submit "作成"%>
  <% end %>
</div>